In [1]:
import requests
import re
import time
import pandas as pd
from elasticsearch import Elasticsearch
from datetime import datetime

In [2]:
urls=["https://comtrade.un.org/api/get?max=500&type=C&freq=A&px=HS&ps=2016%2C2015%2C2014%2C2013%2C2012&r=788&p=all&rg=2&cc=150910&uitoken=4c599ed9273b53b875f870451acdf719","https://comtrade.un.org/api/get?max=500&type=C&freq=A&px=HS&ps=2016%2C2015&r=381&p=all&rg=2&cc=150910&uitoken=4c599ed9273b53b875f870451acdf719","https://comtrade.un.org/api/get?max=500&type=C&freq=A&px=HS&ps=2014%2C2013&r=381&p=all&rg=2&cc=150910&uitoken=4c599ed9273b53b875f870451acdf719","https://comtrade.un.org/api/get?max=500&type=C&freq=A&px=HS&ps=2012&r=381&p=all&rg=2&cc=150910&uitoken=4c599ed9273b53b875f870451acdf719","https://comtrade.un.org/api/get?max=500&type=C&freq=A&px=HS&ps=2016%2C2015%2C2014&r=724&p=all&rg=2&cc=150910&uitoken=4c599ed9273b53b875f870451acdf719",
     "https://comtrade.un.org/api/get?max=500&type=C&freq=A&px=HS&ps=2013%2C2012&r=724&p=all&rg=2&cc=150910&uitoken=4c599ed9273b53b875f870451acdf719"]

In [3]:
data_olive=[]
product='olive oil'

In [4]:
def get_content(url):
    url_content=requests.get(url) 
    return url_content.json()

In [6]:
elastic_connection = Elasticsearch('localhost:9200', timeout=3000.0)
counter=0
for url in urls: 
    json_text=get_content(url)
    data=json_text['dataset']
    for i in range (len(data)):
        years=str(data[i]['yr'])
        reporters=data[i]['rtTitle']
        partners=data[i]['ptTitle']
        trade_values=data[i]['TradeValue']
        item={"partners":partners,
                "reporters":reporters, 
                "years":years, 
                "trade_value":trade_values,
                "products":product,
                "retailers" :  "comtrade"}
        data_olive.append(item)
        doc_id = "%s-%s-%s"%('comtrade.un.org',time.time(),counter)
        counter+=1
        elastic_connection.index(index='trade',doc_type='export',id= doc_id, body=item)
    time.sleep(1)

In [7]:
df=pd.DataFrame(data_olive)

In [8]:
df

,partners,products,reporters,retailers,trade_value,years
0,World,olive oil,Tunisia,comtrade,329118171,2012
1,Algeria,olive oil,Tunisia,comtrade,137870,2012
2,Australia,olive oil,Tunisia,comtrade,172174,2012
3,Austria,olive oil,Tunisia,comtrade,85967,2012
4,Bahrain,olive oil,Tunisia,comtrade,211216,2012
5,Belgium,olive oil,Tunisia,comtrade,179975,2012
6,Brazil,olive oil,Tunisia,comtrade,52243,2012
7,Canada,olive oil,Tunisia,comtrade,3699378,2012
8,China,olive oil,Tunisia,comtrade,3987236,2012
9,Congo,olive oil,Tunisia,comtrade,81165,2012
10,Czechia,olive oil,Tunisia,comtrade,323,2012
11,Ecuador,olive oil,Tunisia,comtrade,126094,2012
12,France,olive oil,Tunisia,comtrade,18440545,2012
13,Gabon,olive oil,Tunisia,comtrade,21048,2012
14,Germany,olive oil,Tunisia,comtrade,130394,2012
15,Ghana,olive oil,Tunisia,comtrade,31797,2012
16,Guinea,olive oil,Tunisia,comtrade,2816,2012
17,Hungary,olive oil,Tunisia,comtrade,6697,2012
18,Ireland,olive oil,Tunisia,comtrade,15961,2012
19,Italy,olive oil,Tunisia,comtrade,173592037,2012
20,CÃ´te d'Ivoire,olive oil,Tunisia,comtrade,158507,2012
21,Japan,olive oil,Tunisia,comtrade,403325,2012
22,Jordan,olive oil,Tunisia,comtrade,1805625,2012
23,Rep. of Korea,olive oil,Tunisia,comtrade,40252,2012
24,Kuwait,olive oil,Tunisia,comtrade,836257,2012
25,Lebanon,olive oil,Tunisia,comtrade,999985,2012
26,Latvia,olive oil,Tunisia,comtrade,22182,2012
27,Libya,olive oil,Tunisia,comtrade,2406915,2012
28,Malaysia,olive oil,Tunisia,comtrade,291311,2012
29,Malta,olive oil,Tunisia,comtrade,2030,2012
...,...,...,...,...,...,...
1884,India,olive oil,Spain,comtrade,2915245,2013
1885,Singapore,olive oil,Spain,comtrade,2210407,2013
1886,Slovakia,olive oil,Spain,comtrade,1798022,2013
1887,Viet Nam,olive oil,Spain,comtrade,1427628,2013
1888,Slovenia,olive oil,Spain,comtrade,1193874,2013
1889,South Africa,olive oil,Spain,comtrade,3284153,2013
1890,South Sudan,olive oil,Spain,comtrade,82653,2013
1891,Sudan,olive oil,Spain,comtrade,141626,2013
1892,Sweden,olive oil,Spain,comtrade,5940618,2013
1893,Switzerland,olive oil,Spain,comtrade,13669929,2013
1894,Tajikistan,olive oil,Spain,comtrade,23626,2013
1895,Thailand,olive oil,Spain,comtrade,4269285,2013
1896,Togo,olive oil,Spain,comtrade,25126,2013
1897,Trinidad and Tobago,olive oil,Spain,comtrade,185515,2013
1898,United Arab Emirates,olive oil,Spain,comtrade,4778876,2013
1899,Turkmenistan,olive oil,Spain,comtrade,22742,2013
1900,Turks and Caicos Isds,olive oil,Spain,comtrade,5750,2013
1901,Uganda,olive oil,Spain,comtrade,23898,2013
1902,Ukraine,olive oil,Spain,comtrade,4985274,2013
1903,Egypt,olive oil,Spain,comtrade,466216,2013
1904,United Kingdom,olive oil,Spain,comtrade,73272850,2013
1905,United Rep. of Tanzania,olive oil,Spain,comtrade,42734,2013
1906,Bunkers,olive oil,Spain,comtrade,933,2013
1907,USA,olive oil,Spain,comtrade,145590726,2013
1908,Uruguay,olive oil,Spain,comtrade,2309858,2013
1909,Uzbekistan,olive oil,Spain,comtrade,322284,2013
1910,Venezuela,olive oil,Spain,comtrade,9475700,2013
1911,Samoa,olive oil,Spain,comtrade,3161,2013
1912,Yemen,olive oil,Spain,comtrade,68195,2013
1913,"Areas, nes",olive oil,Spain,comtrade,2294159,2013

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1914 entries, 0 to 1913
Data columns (total 5 columns):
partners        1914 non-null object
product         1914 non-null object
reporters       1914 non-null object
trade_values    1914 non-null int64
years           1914 non-null int64
dtypes: int64(2), object(3)
memory usage: 74.8+ KB

In [9]:
df.to_csv("olive_oil_data.csv")